@import url("../css/fonts.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0%;
  overflow-y: scroll;
}

body {
  margin: 0%;
}

/* ------- Local Variables ------- */
:root {
      /* Fonts */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
    --ScopeOne: 'ScopeOne', cursive;
    --UnicaOne: 'UnicaOne', cursive;
    --YanoneKaffeesatz: 'YanoneKaffeesatz', cursive;

    /*  Colors */
    --text-grey: #3f4954;
    --color-white: #F2F2F2; 
    --color-accent: #42FFB7;
    --color-green: #44C4BF;
    --color-green-blue: #4789C7;
    --color-light-blue: #494ECE;
    --color-dark-blue: #4B13D6;

    /* Variables */
    --size-header: 90px;

    /* Gradients */
    --Risky-Concreate: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

/* ------- Global Classes ------- */

h1 {
  font-family: var(--ScopeOne);
  font-size: 2.5rem;
}

h2 {
  font-family: var(--UnicaOne);
}

h3 {
  font-family: var(--ScopeOne);
  font-size: 1.3rem;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-family: var(--YanoneKaffeesatz);
  cursor: pointer;
  margin: 5px;
  background-image: var(--Risky-Concreate);
}

button.btn:hover {
  color: white;
  background-image: none;
  background-color: var(--color-accent);
}

input.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  margin: 5px;
  border-radius: 15px;
  background: #d3d3d3;
  opacity: 0.5;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input.slider:hover {
  opacity: 1;
}

input.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--color-dark-blue);
  cursor: pointer;
}

input.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--color-dark-blue);
  cursor: pointer;
}

main {
  width: 100%;
  height: calc(100% - var(--size-header));
  background: url(../assets/images/background_abstract.png);
  background-repeat: no-repeat;
  background-position: right;
}

.header-padding {
  height: var(--size-header);
  background: linear-gradient(to left, rgba(68, 196, 191, 0.98), rgba(73, 78, 206, 0.98));
}

p {
  font-family: var(--YanoneKaffeesatz);
  letter-spacing: 2px;
}

/* ------- Side Bar ------- */
.window-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar {
  background: #F5F6FF;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
  padding-top: 100px;
  max-width: 275px;
  min-width: 275px;
  height: calc(100vh - var(--size-header));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--text-grey);
}

.sidebar-padding {
  width: 100%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #3f4954;
}

.sidebar button {
  width: 125px;
}

.sidebar .controls-devices {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px 10px;
}

.sidebar .img-btn {
  text-align: center;
  padding: 5px;
  font-size: 2rem;
} 

.sidebar .img-btn:hover {
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: var(--color-accent);
  background: var(--color-accent);
  color: white;
  cursor: pointer;
}

.sidebar .controls-status {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
}

.sidebar h3 {
  font-size: 1rem;
}

/* ------- Intro Section ------- */
main .site-intro {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .site-intro .site-about {
  padding-top: 10rem;
  text-align: center;
  color: white;
}

main .site-intro h1,
h3 {
  margin: 0.3rem;
}

main .site-intro .btn {
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  margin: 1.8rem;
}

main .site-intro .btn:hover {
  margin: calc(1.8rem - 2px);
  background: transparent;
  border: 2px solid white;
  color: white;
}

/* ------- Devices Lists ------- */

#status {
  display: none;
}

#alarms {
  display: none;

}

#lights {
  display: none;

}

#temperatures {
    display: none;
}

#misc {
    display: none;
}

.devices-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.device-item {
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

main .form-btn {
  display: inline-block;
}

/* includes the statistics button */
main .device-title {
  display: inline-block;
}

main .btn-statistics {
  position: relative;
  left: 30px;
  padding: 0;
  font-size: 1.4rem;
  color: var(--text-grey);
  background: none;
  margin: -10px;
}

main .btn-statistics:hover {
  color: var(--color-accent);
}

main .device-item .img-device {
  width: 50%;
  background: none;
  margin-bottom: 10px;
}

main .btn-device-toggle {
  margin-bottom: 10px;
}

main .btn-device-toggle:hover {
  background: var(--color-accent);
}

/* -------- Classes called by JS -------- */ 

.clicked {
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: var(--color-accent);
  background: var(--color-accent);
  color: white;
}

/* -------- Responsive Media Calls --------*/
@media (max-width: 900px) {
  body {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .sidebar {
    min-width: 30%;
  }
}

@media (max-width: 550px){
  .sidebar {
    display: none;
  }
}

@media (min-width: 900px) {
  .nav .nav-items {
    visibility: hidden;
  }
}